@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}

<script src="@Url.Content("~/Content/Scripts/iFee/ChooseiFeeListMore.js")?v=@(new Random().Next())" type="text/javascript"></script>

<div id="infoMain" class="easyui-layout" data-options="fit:true">
    <div title="项目信息" data-options="region:'west',border:false,collapsible:false,split:true,disabled:true" style="width: 180px;">
        <div id="Search" class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false,collapsible:false,split:true,disabled:true" style="height: 40px;">
                <div style="height:22px; margin:4px auto 4px 4px;">
                    <input class="easyui-textbox" type="text" id="SItemDetail" name="SItemDetail" />
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSSearch">查找</a>
                </div>
            </div>
            <div data-options="region:'center',border:false">
                <table id="itemDetailTree" data-options="fit:true,border:false"></table>
            </div>
        </div>
    </div>
    <div title="收费项目列表" data-options="region:'center',border:false">
        <table id="itemDetailGrid" data-options="fit:true,border:false"></table>
    </div>
</div>
