@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<link href="@Url.Content("~/Content/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/uploadify/swfobject.js")?v=@(new Random().Next())" type="text/javascript"></script>
<script src="@Url.Content("~/Content/uploadify/jquery.uploadify.js")?v=@(new Random().Next())" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/iFee/iFeeUp.js")?v=@(new Random().Next())" type="text/javascript"></script>
<div id="ifeeLayout" class="easyui-layout" data-options="fit:true">
    <div title="收费数据" data-options="region:'north',border:false,height:300,doSize:false" id="northPanel">
        <form id="fUpload" class="easyui-form" method="post">
            <table class="t-form">
                <tr style="display: none;">
                    <td></td>
                    <td>
                        <div id="uploadfileQueue"></div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>收费单位：</td>
                    <td>
                        <input class="easyui-combotree" type="text" id="DeptID" name="DeptID" data-options="required:true" />
                    </td>
                    <td>收费校区:</td>
                    <td>
                        <input class="easyui-combobox" type="text" id="DeptAreaID" name="DeptAreaID" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td>交款人员:</td>
                    <td>
                        <input class="easyui-combobox" type="text" id="PersonSort" name="PersonSort" data-options="required:true" />
                    </td>
                    <td>收费项目：</td>
                    <td>
                        <input class="easyui-combobox" type="text" id="ItemDetailID" name="ItemDetailID" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td>缴费方式:</td>
                    <td>
                        <input class="easyui-combobox" type="text" id="FeeMode" name="FeeMode" data-options="required:true" />
                    </td>
                    <td>收费时间：</td>
                    <td>
                        <input class="easyui-datebox" type="text" id="FeeTime" name="FeeTime" data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <td>单人应收：</td>
                    <td>
                        <input class="easyui-numberspinner" type="text" id="ShouldMoney" name="ShouldMoney" data-options="required:true,min:0,precision:2">
                    </td>
                    <td>单人实收：</td>
                    <td>
                        <input class="easyui-numberspinner" type="text" id="PaidMoney" name="PaidMoney" data-options="required:true,min:0,precision:2">
                    </td>
                </tr>
                <tr>
                    <td>单人优惠：</td>
                    <td>
                        <input class="easyui-numberspinner" type="text" id="DiscountMoney" name="DiscountMoney" data-options="min:0,precision:2" value="0.00">
                    </td>
                    <td colspan="2" style="color:#ff0000;">注意：费用金额均为单人金额，并非收取的总金额</td>
                </tr>
                <tr>
                    <td>打印说明：</td>
                    <td>
                        <input class="easyui-textbox" type="text" id="Explain" name="Explain" data-options="multiline:true" style="height: 50px; width: 200px;" />
                    </td>
                    <td>备注：</td>
                    <td colspan="3">
                        <input class="easyui-textbox" type="text" id="Remark" name="Remark" data-options="multiline:true" style="height: 50px; width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>缴费人:</td>
                    <td>
                        <div id="file_upload"></div>
                    </td>
                    <td>文件名:</td>
                    <td>
                        <input type="text" id="filePath" name="filePath" class="easyui-textbox" data-options="required:true,readonly:true" />
                    </td>
                </tr>

            </table>
        </form>
    </div>
    <div title="缴费人信息" data-options="region:'center',border:false">
        <table id="gridStudent" data-options="border:false,fit:true"></table>
    </div>
</div>





