@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}

<script src="@Url.Content("~/Content/Scripts/Role/RoleEdit.js")?v=@(new Random().Next())" type="text/javascript"></script>

<form id="fSave" class="easyui-form" method="post">
    <table class="t-form">
        <tr style="display: none;">
            <td>RoleID：</td>
            <td>
                <input class="easyui-textbox" type="text" id="RoleID" name="RoleID" /></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>角色名：</td>
            <td>
                <input class="easyui-textbox" type="text" id="Name" name="Name" data-options="required:true,validType:['length[1,16]','isRight[0,\'角色名已被占用\']']" /></td>
            <td>角色分类：</td>
            <td>
                <input class="easyui-combobox" id="RoleType" name="RoleType" type="text" data-options="required:true"></td>
        </tr>
        <tr>
            <td>角色描述：</td>
            <td colspan="3">
                <input class="easyui-textbox" type="text" id="Description" name="Description" data-options="validType:['length[0,128]']" style="width: 460px;" /></td>
        </tr>
        <tr>
            <td>备注：</td>
            <td colspan="3">
                <input class="easyui-textbox" type="text" id="Remark" name="Remark" data-options="multiline:true" style="height: 80px; width: 460px;" /></td>
        </tr>
    </table>
</form>
