@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}

<script src="@Url.Content("~/Content/Scripts/sFee/ChooseFeeOffsetItem.js")?v=@(new Random().Next())" type="text/javascript"></script>



<div data-options="fit:true">
    <div title="搜索" data-options="region:'north',border:false,collapsible:false,iconCls:'icon-search'" style="height: 30px;">
        <div  class="easyui-layout" data-options="fit:true">
            <form id="fcSearch" class="easyui-form">
                <div data-options="region:'north',border:false">
                    <div class="t-div">
                        <div>姓名:</div>
                        <div>
                            <input id="txtcName" name="txtcName" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div>身份证:</div>
                        <div>
                            <input id="txtcIDCard" name="txtcIDCard" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>    
                        <div>凭证号:</div>
                        <div>
                            <input id="txtcVoucher" name="txtcVoucher" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div>票据号:</div>
                        <div>
                            <input id="txtcNoteNum" name="txtcNoteNum" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btncSearch" class="easyui-linkbutton" iconcls="icon-search">查询</a>
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btncReset" class="easyui-linkbutton" iconcls="icon-undo">重置</a>
                        </div>
                    </div>

                </div>
                
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div id="chooseFeeofsetTas" class="easyui-tabs" data-options="border:false" style="height:260px">
            <div title="学费充抵" data-options="border:false">
                <table id="choosesFeeOffset" data-options="fit:true,border:false"></table>
            </div>
            <div title="杂费充抵" data-options="border:false">
                <table id="chooseiFeeOffset" data-options="fit:true,border:false"></table>
            </div>
            <div title="证书费用充抵" data-options="border:false">
                <table id="chooseFeeOffset" data-options="fit:true,border:false"></table>
            </div>
        </div>
    </div>
    <div data-options="region:'south',border:false" style="height:220px;">
        <div id="btnoffset" class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false" style="height: 36px;">
                <div style="text-align: center; margin: 5px 0;">
                    <a id="btnAddOffset" href="javascript:void(0)" class="easyui-linkbutton">添&nbsp;&nbsp;加</a> &nbsp;&nbsp;
                    <a id="btnRemoveOffset" href="javascript:void(0)" class="easyui-linkbutton">移&nbsp;&nbsp;除</a>
                </div>
            </div>
            <div data-options="region:'center',border:false">
                <table id="sfeeOffset" data-options="fit:true,border:false"></table>
            </div>
        </div>
    </div>
</div>

