@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}

<script src="@Url.Content("~/Content/Scripts/sFee/ChooseFeePlan.js")?v=@(new Random().Next())" type="text/javascript"></script>


<div id="infoChooseFeePlanMain" class="easyui-layout" data-options="fit:true">
    <div title="搜索" data-options="region:'north',border:false,collapsible:false,iconCls:'icon-search'" style="height: 57px;">
        <div id="" class="easyui-layout" data-options="fit:true">
            <form id="fSearch_ChooseFeePlan" class="easyui-form">
                <div data-options="region:'north',border:false">
                    <div class="t-div">
                        <div>学生姓名:</div>
                        <div>
                            <input id="txtsName" name="txtsName" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div>身份证号:</div>
                        <div>
                            <input id="txtsIDCard" name="txtsIDCard" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div>学号:</div>
                        <div>
                            <input id="txtsEnrollNum" name="txtsEnrollNum" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnSearch_ChooseFeePlan" class="easyui-linkbutton" iconcls="icon-search">查询</a>
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnReset_ChooseFeePlan" class="easyui-linkbutton" iconcls="icon-undo">重置</a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="chooseFeePlanGrid" data-options="fit:true,border:false"></table>
    </div>
</div>
