@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<script src="@Url.Content("~/Content/Scripts/Student/ChooseStudent.js")?v=@(new Random().Next())" type="text/javascript"></script>

<div id="infoMainChooseStudent" class="easyui-layout" data-options="fit:true">
    <div title="搜索" data-options="region:'north',border:false,collapsible:false,iconCls:'icon-search'" style="height: 57px;">
        <div id="searchBoxChooseStudent" class="easyui-layout" data-options="fit:true">
            <form id="fSearchChooseStudent" class="easyui-form">
                <div data-options="region:'north',border:false">
                    <div class="t-div">
                        <div>学号:</div>
                        <div>
                            <input id="txtEnrollNum" name="txtEnrollNum" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div>姓名:</div>
                        <div>
                            <input id="txtNameChooseStudent" name="txtNameChooseStudent" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div>身份证号:</div>
                        <div>
                            <input id="txtIDCardChooseStudent" name="txtIDCardChooseStudent" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                      
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnSearchChooseStudent" class="easyui-linkbutton" iconcls="icon-search">查询</a>
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnResetChooseStudent" class="easyui-linkbutton" iconcls="icon-undo">重置</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="choosestudentGrid" data-options="fit:true,border:false"></table>
    </div>
</div>
