@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}

<script src="@Url.Content("~/Content/Scripts/Student/StudentEditNo.js")?v=@(new Random().Next())" type="text/javascript"></script>

<form id="fNoSave" class="easyui-form" method="post">
    <table class="t-form">
        <tr style="display: none;">
            <td>StudentID：</td>
            <td>
                <input class="easyui-textbox" type="text" id="noStudentID" name="noStudentID" />
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>校区：</td>
            <td>
                <input class="easyui-combotree" type="text" id="noDeptID" name="noDeptID" data-options="required:true,editable:false" />
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td>
                <input class="easyui-textbox" type="text" id="noName" name="noName" data-options="required:true,validType:['length[1,8]']" />
            </td>
            <td>身份证号：</td>
            <td>
                <input class="easyui-textbox" type="text" id="noIDCard" name="noIDCard" data-options="readonly:true">
            </td>
        </tr>
        <tr>
            <td>性别：</td>
            <td>
                <input class="easyui-combobox" type="text" id="noSex" name="noSex" data-options="required:true,editable:false" />
            </td>
            <td>联系电话：</td>
            <td>
                <input class="easyui-textbox" type="text" id="noMobile" name="noMobile" data-options="required:true,validType:['length[0,16]']" />
            </td>
        </tr>
        <tr>
            <td>QQ号：</td>
            <td>
                <input class="easyui-textbox" type="text" id="noQQ" name="noQQ" data-options="validType:['length[0,16]']" />
            </td>
            <td>微信号：</td>
            <td>
                <input class="easyui-textbox" type="text" id="noWeChat" name="noWeChat" data-options="validType:['length[0,32]']" />
            </td>
        </tr>
        <tr>
            <td>家庭地址：</td>
            <td colspan="3">
                <input class="easyui-textbox" type="text" id="noAddress" name="noAddress" data-options="validType:['length[0,128]']" />
            </td>
        </tr>
        <tr>
            <td>说明：</td>
            <td colspan="3">
                <input class="easyui-textbox" type="text" id="noRemark" name="noRemark" data-options="multiline:true" style="height: 80px; width: 460px;" />
            </td>
        </tr>
    </table>
</form>

