@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div style="vertical-align:middle;text-align:center;">
    <table  class="t-form" style="margin-top:2px">
        <tr>
            <td>类型：<input class="easyui-combobox" type="text" id="ChangeType" name="ChangeType"  data-options="valueField: 'id',textField: 'text',  url:'../Content/Json/TurnEnrollType.json',method:'get'" />   </td>
        </tr>
    </table>
</div>
