@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}

<link href="@Url.Content("~/Content/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/uploadify/swfobject.js")?v=@(new Random().Next())" type="text/javascript"></script>
<script src="@Url.Content("~/Content/uploadify/jquery.uploadify.js")?v=@(new Random().Next())" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/sEnroll/ClassGrouping.js")?v=@(new Random().Next())" type="text/javascript"></script>
<div id="groupLayout" class="easyui-layout" data-options="fit:true">
    <div title="基本信息" data-options="region:'north',border:false,height:180,doSize:false" id="northPanel">
        <form id="fgroupUpload" class="easyui-form" method="post">
            <table class="t-form">
                <tr style="display: none;">
                    <td></td>
                    <td>
                        <div id="groupChafileQueue"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="float:right;"> 校区:</span>
                    </td>
                    <td>
                        <input type="text" style="float:left; width:300px" id="groupDeptId" name="groupDeptId" class="easyui-combotree" data-options="required:true" />
                    </td>
                </tr>
                <tr>

                    <td><span style="float:right;"> 选择文件:</span> </td>
                    <td>
                        <div id="file_upload2"></div>
                    </td>

                </tr>
                <tr>
                    <td><span style="float:right;"> 文件名:</span></td>
                    <td>
                        <input type="text" id="groupPath" name="groupPath" class="easyui-textbox" style="float:left; width:300px" data-options="required:true,readonly:true" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div title="学生分班信息" data-options="region:'center',border:false">
        <table id="gridClassgroup" data-options="border:false,fit:true"></table>
    </div>
</div>






