@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}

@section head
{
    <script src="@Url.Content("~/Content/Scripts/sReport/sFeeDetailSearch.js")?v=@(new Random().Next())" type="text/javascript"></script>
}
<div id="infoMain" class="easyui-layout" data-options="fit:true">
    <div title="搜索" data-options="region:'north',border:false,collapsible:false,iconCls:'icon-search'" style="height: 57px;">
        <div id="searchBox" class="easyui-layout" data-options="fit:true">
            <form id="fSearch" class="easyui-form">
                <div data-options="region:'north',border:false">
                    <div class="t-div">
                        <div>收费学校:</div>
                        <div>
                            <input class="easyui-combotree" id="treeDeptID" name="treeDeptID" type="text" style="width: 100px;">
                        </div>
                        <div>凭证号:</div>
                        <div>
                            <input class="easyui-textbox" id="txtVoucherNum" name="txtVoucherNum" type="text" style="width: 60px;">
                        </div>
                        <div>票据号:</div>
                        <div>
                            <input class="easyui-textbox" id="txtNoteNum" name="txtNoteNum" type="text" style="width: 60px;">
                        </div>
                        <div>学号:</div>
                        <div>
                            <input class="easyui-textbox" id="txtEnrollNum" name="txtEnrollNum" type="text" style="width: 60px;">
                        </div>
                        <div>学生姓名:</div>
                        <div>
                            <input class="easyui-textbox" id="txtStudentName" name="txtStudentName" type="text" style="width: 60px;" />
                        </div>
                        <div>身份证号:</div>
                        <div>
                            <input class="easyui-textbox" id="txtIDCard" name="txtIDCard" type="text" style="width: 60px;" />
                        </div>
                        <div>年份:</div>
                        <div>
                            <input class="easyui-combobox" id="selYear" name="selYear" type="text" style="width: 70px;" />
                        </div>
                        <div>月份:</div>
                        <div>
                            <input class="easyui-combobox" id="selMonth" name="selMonth" type="text" style="width: 60px;" />
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnSearch" class="easyui-linkbutton" iconcls="icon-search">查询</a>
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnReset" class="easyui-linkbutton" iconcls="icon-undo">重置</a>
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="openSearchBox" class="easyui-linkbutton" iconcls="icon-add2">更多搜索</a>
                            <a href="javascript:void(0)" id="closeSearchBox" class="easyui-linkbutton" iconcls="icon-clear" style="display: none;">关闭更多</a>
                        </div>
                    </div>
                </div>
                <div data-options="region:'center',border:false">
                    <div class="t-div">
                        <div>交费方式:</div>
                        <div>
                            <input class="easyui-combobox" id="selFeeMode" name="selFeeMode" type="text" style="width: 60px;" />
                        </div>
                        <div>应供款日期:</div>
                        <div>
                            <input class="easyui-datebox" id="txtShouldFeeTimeS" name="txtShouldFeeTimeS" type="text" style="width: 90px;" />
                        </div>
                        <div>至</div>
                        <div>
                            <input class="easyui-datebox" id="txtShouldFeeTimeE" name="txtShouldFeeTimeE" type="text" style="width: 90px;" />
                        </div>
                        <div>实供款日期:</div>
                        <div>
                            <input class="easyui-datebox" id="txtFeeTimeS" name="txtFeeTimeS" type="text" style="width: 90px;" />
                        </div>
                        <div>至</div>
                        <div>
                            <input class="easyui-datebox" id="txtFeeTimeE" name="txtFeeTimeE" type="text" style="width: 90px;" />
                        </div>
                        <div>学历层次:</div>
                        <div>
                            <input class="easyui-combobox" id="selEnrollLevel" name="selEnrollLevel" type="text" style="width: 60px;" />
                        </div>
                        <div>报读类别:</div>
                        <div>
                            <input class="easyui-combobox" id="selSort" name="selSort" type="text" style="width: 60px;" />
                        </div>
                        <div>费用类别:</div>
                        <div>
                            <input class="easyui-combotree" id="treeDetail" name="treeDetail" type="text" style="width: 60px;" />
                        </div>
                        <div>收费员:</div>
                        <div>
                            <input class="easyui-textbox" id="txtFeeName" name="txtFeeName" type="text" style="width: 60px;" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="gridsFeeDetail" data-options="fit:true,border:false"></table>
    </div>
</div>
