@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}

<script src="@Url.Content("~/Content/Scripts/Prove/ProveStatusEdit.js")?v=@(new Random().Next())" type="text/javascript"></script>

<form id="fStatusSave" class="easyui-form" method="post">
    <table class="t-form">
        <tr style="display: none;">
            <td>ProveID：</td>
            <td>
                <input class="easyui-textbox" type="text" id="sProveID" name="sProveID" />
            </td>
        </tr>
        <tr>
            <td>证书状态：</td>
            <td colspan="3">
                <input class="easyui-combobox" type="text" id="Status" name="Status" data-options="required:true">
            </td>
        </tr>
    </table>
</form>