@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}

@section head
{
    <script src="@Url.Content("~/Content/Scripts/sProfession/sProfessionList.js")?v=@(new Random().Next())" type="text/javascript"></script>
}
<div id="infoMain" class="easyui-layout" data-options="fit:true" style="margin-top: 3px;">
    <div data-options="region:'north',border:false,collapsible:false,iconCls:'icon-search'" style="height: 30px;">
        <div id="searchBox" class="easyui-layout" data-options="fit:true">
            <form id="fSearch" class="easyui-form">
                <div data-options="region:'north',border:false">
                    <div class="t-div">
                        <div>年份:</div>
                        <div>
                            <input class="easyui-combobox" id="selYear" name="selYear" type="text" style="width: 100px;">
                        </div>

                        <div>月份:</div>
                        <div>
                            <input class="easyui-combobox" id="selMonth" name="selMonth" type="text" style="width: 100px;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div title="校区信息" data-options="region:'west',border:false,collapsible:false,split:true,disabled:true" style="width: 320px;">
        <table id="deptTree" data-options="fit:true,border:false"></table>
    </div>
    <div title="招生专业设置" data-options="region:'center',border:false">
        <table id="grid" data-options="fit:true,border:false"></table>
    </div>

</div>

<div id="editsProfession"></div>
<div id="editsProfession-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSave" iconcls="icon-ok">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: $('#editsProfession').dialog('close')" iconcls="icon-cancel">关闭</a>
</div>