@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<link href="@Url.Content("~/Content/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/uploadify/swfobject.js")?v=@(new Random().Next())" type="text/javascript"></script>
<script src="@Url.Content("~/Content/uploadify/jquery.uploadify.js")?v=@(new Random().Next())" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/Fee/PrintFee.js")?v=@(new Random().Next())" type="text/javascript"></script>

<div id="printfeeLayout" class="easyui-layout" data-options="fit:true">

    <div title="搜索" data-options="region:'north',border:false,collapsible:true,iconCls:'icon-search'" style="height: 320px;">
        <div id="searchBox" class="easyui-layout" data-options="fit:true">

            <form id="fprintSearch" class="easyui-form">
                <div data-options="region:'north',border:false">
                    <div class="t-div">

                        <div>收费时间:</div>
                        <div>
                            <input id="txtprintFeeTimeS" type="text" class="easyui-datebox" style="width: 100px;" />
                        </div>
                        <div>至</div>
                        <div>
                            <input id="txtprintFeeTimeE" type="text" class="easyui-datebox" style="width: 100px;" />
                        </div>
                        <div>证书名称:</div>
                        <div>
                            <input id="txtprintProveName" name="txtprintProveName" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div>班级:</div>
                        <div>
                            <input id="txtprintClass" type="text" class="easyui-textbox" style="width: 100px;" />
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnprintSearch" class="easyui-linkbutton" iconcls="icon-search">查询</a>
                        </div>
                        <div style="padding-top: 2px;">
                            <a href="javascript:void(0)" id="btnprintReset" class="easyui-linkbutton" iconcls="icon-undo">重置</a>
                        </div>
                    </div>

                </div>
                <div data-options="region:'center',border:false">
                    <table id="printgrid1" data-options="fit:true,border:false"></table>
                </div>
            </form>



        </div>
    </div>

    <div title="打印数据" data-options="region:'center',border:false">
        <table id="printgrid2" data-options="border:false,fit:true"></table>
    </div>
</div>



