@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<script src="@Url.Content("~/Content/Scripts/Config/ConfigEdit.js")?v=@(new Random().Next())" type="text/javascript"></script>

<form id="fSave" class="easyui-form" method="post">
    <table class="t-form">
        <tr style="display: none;">
            <td>ConfigID：</td>
            <td>
                <input class="easyui-textbox" type="text" id="ConfigID" name="ConfigID" />
            </td>
        </tr>
        <tr>
            <td>打印次数：</td>
            <td>
                <input class="easyui-numberspinner" type="text" id="PrintNum" name="PrintNum" data-options="required:true,min:0" />
            </td>
        </tr>
    </table>
</form>



